.crud20-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
}

.crud20-toolbar-section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-grow: 1;
}

.crud20-toolbar-title {
    align-self: center;
    margin-right: var(--lumo-space-l);
}

span.crud20-toolbar-title {
    font-size: var(--lumo-font-size-l);
    line-height: var(--lumo-line-height-m);
    font-weight: 600;
}

.crud20-toolbar-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.crud20-toolbar[theme~="padding"]  {
    padding: 0 var(--lumo-space-m);
}