.crud20-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    padding-left: var(--lumo-space-m);
    padding-right: var(--lumo-space-m);
}

.crud20-toolbar-section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-grow: 1;
}

.crud20-toolbar-title {
    align-self: center;
    margin-right: var(--lumo-space-l);
}

.crud20-toolbar-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}
